body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0; 
  padding: 0; 
}

.container {
  max-width: 90%; 
  margin: 0 auto; 
  padding: 20px; 
}

h1 {
  text-align: center;
  color: black;
}

label {
  display: block;
  margin-bottom: 10px; 
  color: grey;
}

input[type="text"] {
  width: 100%; 
  padding: 10px; 
  margin-bottom: 10px; 
  border: 1px solid grey;
  border-radius: 10px;
  box-sizing: border-box; 
}

input[type="submit"] {
  width: 100%; 
  padding: 10px; 
  background-color: gray;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s; 
}

input[type="submit"]:hover {
  background-color: blueviolet;
}
